<a href="https://colab.research.google.com/github/RyanUdeM/De-Bruijn-Graph/blob/master/Income_MLP_CNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import time

from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import classification_report
from sklearn.metrics import precision_recall_fscore_support

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
# url = '/content/gdrive/My Drive/Colab Notebooks/IFT6390/Project/Data/'
url = '/content/gdrive/My Drive/IFT6390 Final Project/Project/data/'
train_url = url + 'income_train.csv'
test_url = url + 'income_test.csv'

In [4]:
income_train = pd.read_csv(train_url, index_col=0)
income_test = pd.read_csv(test_url, index_col=0)
print("income training data: ", income_train.shape)
print("income testing  data: ", income_test.shape)
income_train.head()

income training data:  (32561, 15)
income testing  data:  (16281, 15)

   age  workclass  fnlwgt  ...  hours-per-week  native-country  income
0   39          7   77516  ...              40              39       0
1   50          6   83311  ...              13              39       0
2   38          4  215646  ...              40              39       0
3   53          4  234721  ...              40              39       0
4   28          4  338409  ...              40               5       0

[5 rows x 15 columns]

In [0]:
X_train = income_train.iloc[:,:14]
y_train = income_train.iloc[:,-1]

X_test  = income_test.iloc[:,:-1]
y_test  = income_test.iloc[:,-1]

## **MLP** **structure**: <br>
**First dense layer**: number of neuron = 2* input dimension + Linear<br>
**Sencond layer**: # of neuron = 2* input dimension + (TODO: Tune activation)<br>
**Third layer**: # of neuron =  input dimension + (TODO: Tune activation)<br>
**Last layer**: output size + softmax<br>
Tune the activation functions in between